In [2]:
import pymysql
import pickle

MYSQL_USER_DATA_SAVED_FILE = "mysql/userinfo"

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [4]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    # 여기서 사용할 스키마 하나 생성!
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    insert into pydb_test(name, price) values (%s, %s)
"""

cursor.execute(sql, ('Xeon Server', 10000000))
cursor.execute(sql, ('FPGA Server', 2000000000))
cursor.execute(sql, ('GPU Server', 1000000000))
cursor.execute(sql, ('RTX 3090', 4000000))

db.commit()

db.close()

print('파이썬을 활용한 db 입력 성공!')

파이썬을 활용한 db 입력 성공!